OPENROUTER_API_KEY=
OPENROUTER_CHAT_MODEL=openrouter/free
OPENROUTER_EMBEDDING_MODEL=qwen/qwen3-embedding-8b
CONTACT_WEBHOOK_URL=https://n8n.roytechworkforce.com/webhook/9b6f37a2-7c09-47ba-b379-6f2554adb1f3
CONTACT_JWT_SECRET=Letmein@321
